<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770255598079-n9a9c28qk9k9c82v3665n2fp1ng25rgr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770255598079-n9a9c28qk9k9c82v3665n2fp1ng25rgr</string>
	<key>API_KEY</key>
	<string>AIzaSyBlMq9BgdPXAnhrc2PF5HZzZglOVPOi3ho</string>
	<key>GCM_SENDER_ID</key>
	<string>770255598079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shaheermirza.DrugNotify</string>
	<key>PROJECT_ID</key>
	<string>drugtestnotify</string>
	<key>STORAGE_BUCKET</key>
	<string>drugtestnotify.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770255598079:ios:6fbd727a735f180bcc77ca</string>
	<key>DATABASE_URL</key>
	<string>https://drugtestnotify.firebaseio.com</string>
</dict>
</plist>